// # primary Sass file
@charset "UTF-8";

// Config file and Sass variables
// @import "helpers/variables";

// Helpers
// @import "helpers/functions";
// @import "helpers/helpers";
@import "helpers/custom_spacing";

// Theme
@import "themes/theme";

// Scaffolding
// @import "base/normalize";
// @import "base/base";
// @import "base/typography";

// Components
@import "components/buttons";
@import "components/form";
@import "components/carousel"; 
// @import "components/navigation";

// Layouts
// @import "layout/grid"; 
// @import "layout/header";
// @import "layout/footer";
// @import "layout/forms";
// @import "layout/sidebar";

// Pages
// @import "pages/home";
// @import "pages/contact";

// Vendor
@import "bootstrap/bootstrap";
@import "vendors/slick-slider";


/* Utilities
-------------------------------------------------- */
.gray-1 { color: $gray-1; }
.gray-2 { color: $gray-2; }
.purple { color: $purple; }

.font-x-small { font-size: 60%; }
.font-small { font-size: 80%; }
.font-large { font-size: 120%; }
.font-x-large { font-size: 150%; }

.font-light { font-weight: lighter; }
.text-shadow { text-shadow: 0 2px 4px rgba($black ,0.25); }
  

/* Reset
-------------------------------------------------- */
a {
  text-decoration: none;
  transition: all 0.3s;
  &:hover,
  &:focus {
    color: $lightgray-1;
    text-decoration: none;
  }
  
  &.gray-1, &.gray-2, &.purple {
    &:hover,
    &:focus {
      color: $purple;
    }
  }
}


/* CUSTOMIZE STYLES
-------------------------------------------------- */
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
    @media (min-width: 576px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 100%;
  }
}