@charset "utf-8";

/* Developed and copyright by Plutonyx "Janejane" */

/****************************************** Global ******************************************/
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/*-----------------all Space--------------------*/
.no-padding, .nopadding { padding: 0 !important; }
.no-padding-left, .nopadding-left { padding-left: 0 !important; }
.no-padding-right, .nopadding-right { padding-right: 0 !important; }

/*text style -------------------------------*/
.font14{font-size:14px; line-height:20px;}
.font16{font-size:16px; line-height:20px;}
.font18{font-size:18px; line-height:20px;}
.font20{font-size:20px; line-height:30px;}
.font22{font-size:22px; line-height:30px;}
.font24{font-size:24px; line-height:30px;}
.font26{font-size:26px; line-height:30px;}
.font28{font-size:28px; line-height:30px;}
.font30{font-size:30px; line-height:40px;}
.font32{font-size:32px; line-height:40px;}
.font34{font-size:34px; line-height:40px;}
.font36{font-size:36px; line-height:40px;}
.font38{font-size:38px; line-height:40px;}
.font40{font-size:40px; line-height:50px;}
.font42{font-size:42px; line-height:50px;}
.font44{font-size:44px; line-height:50px;}
.font46{font-size:46px; line-height:50px;}
.font48{font-size:48px; line-height:50px;}
.font50{font-size:50px; line-height:60px;}
.font52{font-size:52px; line-height:60px;}
.font54{font-size:54px; line-height:60px;}
.font56{font-size:56px; line-height:60px;}
.font58{font-size:58px; line-height:60px;}
.font60{font-size:60px; line-height:60px;}
/*text style -------------------------------*/

.alpha100 {filter:alpha(opacity=100);-moz-opacity:1;moz-opacity:1;opacity: 1; }
.alpha90 {filter: alpha(opacity=90);-moz-opacity: 0.9;moz-opacity:0.9;opacity: 0.9; }
.alpha80 {filter:alpha(opacity=80);-moz-opacity:0.8;moz-opacity:0.8;opacity: 0.8; }
.alpha60 {filter:alpha(opacity=60);-moz-opacity:0.6;moz-opacity:0.6;opacity: 0.6; }
.alpha40 {filter:alpha(opacity=40);-moz-opacity:0.4;moz-opacity:0.4;opacity: 0.4; }
.alpha20 {filter:alpha(opacity=20);-moz-opacity:0.2;moz-opacity:0.2;opacity: 0.2; }
.alpha0 {filter:alpha(opacity=0);-moz-opacity:0;moz-opacity:0;opacity: 0; }

a, a:hover, a:active, a:visited, a:focus{ text-decoration:none; cursor:pointer; outline: none; }
a img { border:none; }
.text-bold { font-weight:normal; font-weight:400; }
.text-italic { font-style:italic; }
.text-underline { text-decoration:underline; }
.uppercase { text-transform: uppercase; }
.img-fullwidth{ max-width:100%; }
.img-maxwidth{ width:100%; }

/* Border - Start */
.border-top{ border-top:1px solid; }
.border-right{ border-right:1px solid; }
.border-bottom{ border-bottom:1px solid; }
.border-left{ border-left:1px solid; }
/* Border - End */

/****************************************** Start ******************************************/

*{
    margin: 0;
    padding: 0;
}
a,
.btn,
button,
input,
a:hover,
a:focus,
.btn:focus,
button:focus,
input:focus{
    text-decoration: none;
    box-shadow: none;
    outline: none!important;
    cursor: pointer;
}

/*-- margins =========
================= --*/

.m-0{margin: 0 !important;}
.mg-5{margin: 5px;}
.m-10{margin: 10px;}
.m-15{margin: 15px;}
.m-20{margin: 20px;}
.m-25{margin: 25px;}
.m-30{margin: 30px;}
.m-35{margin: 35px;}
.m-40{margin: 40px;}
.m-45{margin: 45px;}
.m-50{margin: 50px;}
.m-55{margin: 55px;}
.m-60{margin: 60px;}
.m-65{margin: 65px;}
.m-70{margin: 70px;}
.m-75{margin: 75px;}
.m-80{margin: 80px;}
.m-85{margin: 85px;}
.m-90{margin: 90px;}
.m-95{margin: 95px;}
.m-100{margin: 100px;}
.m-120{margin: 120px;}

.mt--5{margin-top: -5px !important;}
.mt--10{margin-top: -10px !important;}
.mt--15{margin-top: -15px !important;}
.mt-0{margin-top: 0 !important;}
.mgt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-25{margin-top: 25px !important;}
.mt-30{margin-top: 30px !important;}
.mt-35{margin-top: 35px !important;}
.mt-40{margin-top: 40px !important;}
.mt-45{margin-top: 45px !important;}
.mt-50{margin-top: 50px !important;}
.mt-55{margin-top: 55px !important;}
.mt-60{margin-top: 60px !important;}
.mt-65{margin-top: 65px !important;}
.mt-70{margin-top: 70px !important;}
.mt-75{margin-top: 75px !important;}
.mt-80{margin-top: 80px !important;}
.mt-85{margin-top: 85px !important;}
.mt-90{margin-top: 90px !important;}
.mt-95{margin-top: 95px !important;}
.mt-100{margin-top: 100px !important;}
.mt-120{margin-top: 120px !important;}

.mb-0{margin-bottom: 0 !important;}
.mgb-5{margin-bottom: 5px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-15{margin-bottom: 15px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-25{margin-bottom: 25px !important;}
.mb-30{margin-bottom: 30px !important;}
.mb-35{margin-bottom: 35px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-45{margin-bottom: 45px !important;}
.mb-50{margin-bottom: 50px !important;}
.mb-55{margin-bottom: 55px !important;}
.mb-60{margin-bottom: 60px !important;}
.mb-65{margin-bottom: 65px !important;}
.mb-70{margin-bottom: 70px !important;}
.mb-75{margin-bottom: 75px !important;}
.mb-80{margin-bottom: 80px !important;}
.mb-85{margin-bottom: 85px !important;}
.mb-90{margin-bottom: 90px !important;}
.mb-95{margin-bottom: 95px !important;}
.mb-100{margin-bottom: 100px !important;}
.mb-120{margin-bottom: 120px !important;}

.ml-0{margin-left: 0 !important;}
.mgl-5{margin-left: 5px !important;}
.ml-10{margin-left: 10px !important;}
.ml--15{margin-left: -15px !important;}
.ml-15{margin-left: 15px !important;}
.ml-20{margin-left: 20px !important;}
.ml-25{margin-left: 25px !important;}
.ml-30{margin-left: 30px !important;}
.ml-35{margin-left: 35px !important;}
.ml-40{margin-left: 40px !important;}
.ml-45{margin-left: 45px !important;}
.ml-50{margin-left: 50px !important;}
.ml-55{margin-left: 55px !important;}
.ml-60{margin-left: 60px !important;}
.ml-65{margin-left: 65px !important;}
.ml-70{margin-left: 70px !important;}
.ml-75{margin-left: 75px !important;}
.ml-80{margin-left: 80px !important;}
.ml-85{margin-left: 85px !important;}
.ml-90{margin-left: 90px !important;}
.ml-95{margin-left: 95px !important;}
.ml-100{margin-left: 100px !important;}
.ml-120{margin-left: 120px !important;}

.mr-0{margin-right: 0 !important;}
.mgr-5{margin-right: 5px !important;}
.mr-10{margin-right: 10px !important;}
.mr--15{margin-right: -15px !important;}
.mgr-15{margin-right: 15px !important;}
.mr-20{margin-right: 20px !important;}
.mr-25{margin-right: 25px !important;}
.mr-30{margin-right: 30px !important;}
.mr-35{margin-right: 35px !important;}
.mr-40{margin-right: 40px !important;}
.mr-45{margin-right: 45px !important;}
.mr-50{margin-right: 50px !important;}
.mr-55{margin-right: 55px !important;}
.mr-60{margin-right: 60px !important;}
.mr-65{margin-right: 65px !important;}
.mr-70{margin-right: 70px !important;}
.mr-75{margin-right: 75px !important;}
.mr-80{margin-right: 80px !important;}
.mr-85{margin-right: 85px !important;}
.mr-90{margin-right: 90px !important;}
.mr-95{margin-right: 95px !important;}
.mr-100{margin-right: 100px !important;}
.mr-120{margin-right: 120px !important;}


/*-- Paddings
============================== --*/
.p-0{padding: 0;}
.pd-5{padding: 5px;}
.p-10{padding: 10px;}
.p-15{padding: 15px;}
.p-20{padding: 20px;}
.p-25{padding: 25px;}
.p-30{padding: 30px;}
.p-35{padding: 35px;}
.p-40{padding: 40px;}
.p-45{padding: 45px;}
.p-50{padding: 50px;}
.p-55{padding: 55px;}
.p-60{padding: 60px;}
.p-65{padding: 65px;}
.p-70{padding: 70px;}
.p-75{padding: 75px;}
.p-80{padding: 80px;}
.p-85{padding: 85px;}
.p-90{padding: 90px;}
.p-95{padding: 95px;}
.p-100{padding: 100px;}
.p-120{padding: 120px;}

.pt-0{padding-top: 0 !important;}
.pdt-5{padding-top: 5px !important;}
.pt-10{padding-top: 10px !important;}
.pt-15{padding-top: 15px !important;}
.pt-20{padding-top: 20px !important;}
.pt-25{padding-top: 25px !important;}
.pt-30{padding-top: 30px !important;}
.pt-35{padding-top: 35px !important;}
.pt-40{padding-top: 40px !important;}
.pt-45{padding-top: 45px !important;}
.pt-50{padding-top: 50px !important;}
.pt-55{padding-top: 55px;}
.pt-60{padding-top: 60px;}
.pt-65{padding-top: 65px;}
.pt-70{padding-top: 70px;}
.pt-75{padding-top: 75px;}
.pt-80{padding-top: 80px;}
.pt-85{padding-top: 85px;}
.pt-90{padding-top: 90px;}
.pt-95{padding-top: 95px;}
.pt-100{padding-top: 100px;}
.pt-120{padding-top: 120px;}

.pb-0{padding-bottom: 0 !important;}
.pdb-5{padding-bottom: 5px !important;}
.pb-10{padding-bottom: 10px !important;}
.pb-15{padding-bottom: 15px !important;}
.pb-20{padding-bottom: 20px !important;}
.pb-25{padding-bottom: 25px !important;}
.pb-30{padding-bottom: 30px !important;}
.pb-35{padding-bottom: 35px !important;}
.pb-40{padding-bottom: 40px !important;}
.pb-45{padding-bottom: 45px !important;}
.pb-50{padding-bottom: 50px !important;}
.pb-55{padding-bottom: 55px;}
.pb-60{padding-bottom: 60px;}
.pb-65{padding-bottom: 65px;}
.pb-70{padding-bottom: 70px;}
.pb-75{padding-bottom: 75px;}
.pb-80{padding-bottom: 80px;}
.pb-85{padding-bottom: 85px;}
.pb-90{padding-bottom: 90px;}
.pb-95{padding-bottom: 95px;}
.pb-100{padding-bottom: 100px;}
.pb-120{padding-bottom: 120px;}

.pl-0{padding-left: 0 !important;}
.pdl-5{padding-left: 5px !important;}
.pl-10{padding-left: 10px !important;}
.pl-15{padding-left: 15px !important;}
.pl-20{padding-left: 20px !important;}
.pl-25{padding-left: 25px !important;}
.pl-30{padding-left: 30px !important;}
.pl-35{padding-left: 35px !important;}
.pl-40{padding-left: 40px !important;}
.pl-45{padding-left: 45px !important;}
.pl-50{padding-left: 50px !important;}
.pl-55{padding-left: 55px !important;}
.pl-60{padding-left: 60px !important;}
.pl-65{padding-left: 65px !important;}
.pl-70{padding-left: 70px !important;}
.pl-75{padding-left: 75px;}
.pl-80{padding-left: 80px;}
.pl-85{padding-left: 85px;}
.pl-90{padding-left: 90px;}
.pl-95{padding-left: 95px;}
.pl-100{padding-left: 100px;}
.pl-120{padding-left: 120px;}

.pr-0{padding-right: 0 !important;}
.pdr-5{padding-right: 5px !important;}
.pr-10{padding-right: 10px !important;}
.pr-15{padding-right: 15px !important;}
.pr-20{padding-right: 20px !important;}
.pr-25{padding-right: 25px !important;}
.pr-30{padding-right: 30px !important;}
.pr-35{padding-right: 35px !important;}
.pr-40{padding-right: 40px !important;}
.pr-45{padding-right: 45px !important;}
.pr-50{padding-right: 50px !important;}
.pr-55{padding-right: 55px !important;}
.pr-60{padding-right: 60px !important;}
.pr-65{padding-right: 65px !important;}
.pr-70{padding-right: 70px !important;}
.pr-75{padding-right: 75px !important;}
.pr-80{padding-right: 80px !important;}
.pr-85{padding-right: 85px !important;}
.pr-90{padding-right: 90px !important;}
.pr-95{padding-right: 95px;}
.pr-100{padding-right: 100px;}
.pr-120{padding-right: 120px;}

@media (max-width: 992px) {
    .width-md-auto { width: auto !important; }
    .p-md-0{padding: 0px !important;}
    .pt-md-0{padding-top: 0px !important;}
    .pb-md-0{padding-bottom: 0px !important;}
    .pl-md-0{padding-left: 0px !important;}
    .pr-md-0{padding-right: 0px !important;}
    .pdt-md-5{padding-top: 5px !important;}
    .pdb-md-5{padding-bottom: 5px !important;}
    .pdl-md-5{padding-left: 5px !important;}
    .pdr-md-5{padding-right: 5px !important;}
    .pt-md-10{padding-top: 10px !important;}
    .pb-md-10{padding-bottom: 10px !important;}
    .pl-md-10{padding-left: 10px !important;}
    .pr-md-10{padding-right: 10px !important;}
    .mr-md--15{margin-right: -15px !important;}
    .ml-md--15{margin-left: -15px !important;}
    .mr-md-0{margin-right: 0px !important;}
    .ml-md-0{margin-left: 0px !important;}
    .mr-md-5{margin-right: 5px !important;}
    .mr-md-10{margin-right: 10px !important;}
    .mr-md-15{margin-right: 15px !important;}
    .mr-md-30{margin-right: 30px !important;}
    .ml-md-5{margin-left: 5px !important;}
    .ml-md-10{margin-left: 10px !important;}
    .ml-md-15{margin-left: 15px !important;}
    .ml-md-30{margin-left: 30px !important;}
    .ml-md-45{margin-left: 45px !important;}
    .pt-md-15{padding-top: 15px !important;}
    .pb-md-15{padding-bottom: 15px !important;}
    .pl-md-15{padding-left: 15px !important;}
    .pr-md-15{padding-right: 15px !important;}
    .pl-md-30{padding-left: 30px !important;}
    .pr-md-30{padding-right: 30px !important;}
    .mb-md-0{margin-bottom: 0px !important;}
    .mb-md-5{margin-bottom: 5px !important;}
    .mb-md-10{margin-bottom: 10px !important;}
    .mb-md-15{margin-bottom: 15px !important;}
    .mb-md-20{margin-bottom: 20px !important;}
    .mb-md-30{margin-bottom: 30px !important;}
    .mt-md-0{margin-top: 0px !important;}
    .mt-md-5{margin-top: 5px !important;}
    .mt-md-10{margin-top: 10px !important;}
    .mt-md-15{margin-top: 15px !important;}
    .mt-md-20{margin-top: 20px !important;}
    .mt-md-30{margin-top: 30px !important;}
    .m-md-0{margin: 0px !important;}
}

@media (max-width: 768px) {
    .width-sm-auto { width: auto !important; }
    .p-sm-0{padding: 0px !important;}
    .pt-sm-0{padding-top: 0px !important;}
    .pb-sm-0{padding-bottom: 0px !important;}
    .pl-sm-0{padding-left: 0px !important;}
    .pr-sm-0{padding-right: 0px !important;}
    .pt-sm-5{padding-top: 5px !important;}
    .pb-sm-5{padding-bottom: 5px !important;}
    .pl-sm-5{padding-left: 5px !important;}
    .pr-sm-5{padding-right: 5px !important;}
    .pt-sm-10{padding-top: 10px !important;}
    .pb-sm-10{padding-bottom: 10px !important;}
    .pl-sm-10{padding-left: 10px !important;}
    .pr-sm-10{padding-right: 10px !important;}
    .mr-sm-0{margin-right: 0px !important;}
    .ml-sm-0{margin-left: 0px !important;}
    .mr-sm-5{margin-right: 5px !important;}
    .mr-sm-10{margin-right: 10px !important;}
    .mr-sm-15{margin-right: 15px !important;}
    .mr-sm-30{margin-right: 30px !important;}
    .ml-sm-5{margin-left: 5px !important;}
    .ml-sm-10{margin-left: 10px !important;}
    .ml-sm-15{margin-left: 15px !important;}
    .ml-sm-30{margin-left: 30px !important;}
    .ml-sm-45{margin-left: 45px !important;}
    .pt-sm-15{padding-top: 15px !important;}
    .pb-sm-15{padding-bottom: 15px !important;}
    .pl-sm-15{padding-left: 15px !important;}
    .pr-sm-15{padding-right: 15px !important;}
    .pt-sm-30{padding-top: 30px !important;}
    .pb-sm-30{padding-bottom: 30px !important;}
    .pl-sm-30{padding-left: 30px !important;}
    .pr-sm-30{padding-right: 30px !important;}
    .mb-sm-0{margin-bottom: 0px !important;}
    .mb-sm-5{margin-bottom: 5px !important;}
    .mb-sm-10{margin-bottom: 10px !important;}
    .mb-sm-15{margin-bottom: 15px !important;}
    .mb-sm-20{margin-bottom: 20px !important;}
    .mb-sm-30{margin-bottom: 30px !important;}
    .mb-sm-45{margin-bottom: 45px !important;}
    .mt-sm-0{margin-top: 0px !important;}
    .mt-sm-5{margin-top: 5px !important;}
    .mt-sm-10{margin-top: 10px !important;}
    .mt-sm-15{margin-top: 15px !important;}
    .mt-sm-20{margin-top: 20px !important;}
    .mt-sm-30{margin-top: 30px !important;}
    .mt-sm-45{margin-top: 45px !important;}
    .m-sm-0{margin: 0px !important;}
    .ml-sm--15{margin-left: -15px !important;}
    .mr-sm--15{margin-right: -15px !important;}

}

@media (max-width: 576px) {
    .width-xs-auto { width: auto !important; }
    .p-xs-0{padding: 0px !important;}
    .pt-xs-0{padding-top: 0px !important;}
    .pb-xs-0{padding-bottom: 0px !important;}
    .pl-xs-0{padding-left: 0px !important;}
    .pr-xs-0{padding-right: 0px !important;}
    .mr-xs-0{margin-right: 0px !important;}
    .ml-xs-0{margin-left: 0px !important;}
    .mr-xs-5{margin-right: 5px !important;}
    .mr-xs-10{margin-right: 10px !important;}
    .mr-xs-15{margin-right: 15px !important;}
    .mr-xs-30{margin-right: 30px !important;}
    .ml-xs-5{margin-left: 5px !important;}
    .ml-xs-10{margin-left: 10px !important;}
    .ml-xs-15{margin-left: 15px !important;}
    .ml-xs-30{margin-left: 30px !important;}
    .ml-xs-45{margin-left: 45px !important;}
    .pt-xs-15{padding-top: 15px !important;}
    .pb-xs-15{padding-bottom: 15px !important;}
    .pl-xs-5{padding-left: 5px !important;}
    .pr-xs-5{padding-right: 5px !important;}
    .pl-xs-10{padding-left: 10px !important;}
    .pr-xs-10{padding-right: 10px !important;}
    .pl-xs-15{padding-left: 15px !important;}
    .pr-xs-15{padding-right: 15px !important;}
    .pl-xs-30{padding-left: 30px !important;}
    .pr-xs-30{padding-right: 30px !important;}
    .mb-xs-0{margin-bottom: 0px !important;}
    .mb-xs-5{margin-bottom: 5px !important;}
    .mb-xs-10{margin-bottom: 10px !important;}
    .mb-xs-15{margin-bottom: 15px !important;}
    .mb-xs-20{margin-bottom: 20px !important;}
    .mb-xs-30{margin-bottom: 30px !important;}
    .mt-xs-0{margin-top: 0px !important;}
    .mt-xs-5{margin-top: 5px !important;}
    .mt-xs-10{margin-top: 10px !important;}
    .mt-xs-15{margin-top: 15px !important;}
    .mt-xs-20{margin-top: 20px !important;}
    .mt-xs-30{margin-top: 30px !important;}
    /*.m-xs-0{margin: 0px !important;}*/

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .pl-xs-15{padding-left: 15px !important;}
    .pr-xs-15{padding-right: 15px !important;}
    .mb-xs-15{margin-bottom: 15px !important;}
    .mb-xs-30{margin-bottom: 30px !important;}
    /*.m-xs-0{margin: 0px !important;}*/
}
