// # Default theme 

// # Default color
$red: #FF2944;
$purple: #AF3694;
$purple-1: #B83895;
$purple-2: #672D91;
$gray-1: #46474A;
$gray-2: #626262;
$lightgray-1: #bcbcbc;
$lightgray-2: #c3c3c3;
$black: #000;
$white: #fff;

$color-gradient: linear-gradient(to right, #b83895, #672d91);