{% extends "./layouts/blank.twig" %}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block assets %}
	{{ parent() }}
{% endblock %}

{% block main %}
    <div class="loginpage reset-password-page">
        <div class="loginpage__wrap loginpage__wrap--bg-2">
            <div class="reset-password-page__header pt-3">
                <div class="row w-100 m-0 p-3 justify-content-between align-items-center">
                    <div class="col-auto">
                        <div class="logo mb-2 mb-md-2">
                            <img src="/img/logo/logo_2.png" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="login.html" class="purple">< Back to Login</a>
                    </div>
                </div>
            </div>
            <div class="container d-flex h-100">
                <div class="row w-100 m-0 justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-5 pb-5 pb-md-0">
                        <h1 class="gray-1 mb-4">Reset your <br />password</h1>
                        <p class="mb-0 font-light">Plesase enter your new password <br />and confirm new password.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="box">
                            <form id="loginForm" class="col-12 p-0 needs-validation" novalidate="" action="/reset_success.html">
                                <div class="form-group mb-2">
                                    <div class="form-label-group">
                                        <input type="password" id="inputUsername" class="form-control" placeholder="New password" value="" required autofocus>
                                        <label for="inputUsername">New password</label>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                        <div class="form-label-group">
                                            <input type="password" id="inputUsername" class="form-control" placeholder="Confirm New password" value="" required autofocus>
                                            <label for="inputUsername">Confirm New password</label>
                                        </div>
                                    </div>
                                <p class="invalid-feedback error_msg mb-2">Password don't match. </p>
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <a href="login.html" class="btn btn--border w-100">Cancel</a>
                                    </div>
                                    <div class="col-6">
                                        <button id="btnSubmit" type="submit" class="btn w-100">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- .box -->
                    </div>
                </div>
            </div>
        </div><!-- .loginpage__wrap -->
    </div>
    
{% endblock main %}

{% block scripts %}
    {{ parent() }}
    <script>
        $("#btnSubmit").click(function(event) {
            var form = $("#loginForm")
    
            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            
            form.addClass('was-validated');
        });
    </script>
{% endblock %}

