{% extends "./layouts/blank.twig" %}

{% block title %}
    <title>Login</title>
{% endblock %}
{% block assets %}
	{{ parent() }}
{% endblock %}

{% block main %}
    <div class="loginpage reset-password-page">
        <div class="loginpage__wrap loginpage__wrap--bg-2">
            <div class="reset-password-page__header pt-3">
                <div class="row w-100 m-0 p-3 justify-content-between align-items-center">
                    <div class="col-auto">
                        <div class="logo mb-2 mb-md-2">
                            <img src="/img/logo/logo_2.png" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="login.html" class="purple">< Back to Login</a>
                    </div>
                </div>
            </div>
            <div class="container d-flex h-100">
                <div class="row w-100 m-0 justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-5 pb-5 pb-md-0">
                        <h1 class="gray-1 mb-4">Success!</h1>
                        <p class="mb-0 font-light"></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="box text-center">
                            <form id="loginForm" class="col-12 p-0 needs-validation" novalidate="" action="/login.html">
                                <div class="icon-alert mb-3 mt-2">
                                    <img src="img/icon/icon_success.png" />
                                </div>
                                <p class="gray-2 font-light pt-2 pb-2">
                                    Your password has been reset
                                </p>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-12 col-md-6">
                                        <button id="btnSubmit" type="submit" class="btn w-100">Go to Login</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- .box -->
                    </div>
                </div>
            </div>
        </div><!-- .loginpage__wrap -->
    </div>
    
{% endblock main %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

